* {
  box-sizing: border-box;
  line-height: 25px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90vw;
  flex-direction: column;
}
h1 {
  text-align: center;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
